# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# Typescript Compiled code
dist
dist/

# production --Push this folder because we have issue with ubuntu machine in npm run build maybe caused by low space
/client/build   

# Uploaded Files
/server/uploads/*

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
