// Colors
$primary-color: #0099ff;
$primary-blue: #1fa2f1;
$blueBackground: rgba(212, 237, 255, 0.6);
$blueLight: #9bd1f9;
$main-white: #fff;
$buttonHoverBg: #d4edff;
$lightGrey: rgb(230, 236, 240);
$greyText: rgb(101, 119, 134);
$greyButtonText: rgba(0, 0, 0, 0.34);
$redColor: rgb(226, 34, 94);
$redBackground: rgba(226, 34, 94, 0.1);
$greenColor: rgb(23, 191, 99);
$greenBackground: rgba(23, 191, 99, 0.1);

// Spacings
$spacing: 15px;
