@import '../../sass/helpers/variables';

.post {
  display: flex;
  flex-direction: column;
  padding: $spacing;
  cursor: pointer;
  border-bottom: 1px solid $lightGrey;
  flex-shrink: 0;

  .postActionContainer {
    padding-left: 35px;
    font-size: 13px;
    color: $greyText;
    margin-bottom: 5px;
  }

  .mainContentContainer {
    flex: 1;
    display: flex;

    .postContentContainer {
      padding-left: $spacing;
      display: flex;
      flex-direction: column;
      flex: 1;

      .header {
        a,
        span {
          padding-right: 5px;
        }

        & a:hover {
          text-decoration: underline;
        }
      }

      .displayName {
        font-weight: bold;
      }

      .username,
      .date {
        color: $greyText;
      }

      .replyFlag {
        margin-bottom: 5px;
        a {
          color: $primary-blue;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .postFooter {
        display: flex;
        align-items: center;

        .postButtonContainer {
          flex: 1;
          display: flex;

          .active-red {
            color: $redColor;
          }

          .active-green {
            color: $greenColor;
          }

          .red:hover {
            color: $redColor;
            background-color: $redBackground;
          }

          .green:hover {
            color: $greenColor;
            background-color: $greenBackground;
          }

          button {
            i {
              padding: 3px 6px;
            }

            :hover {
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}

.largeFont .postBody,
.largeFont .postFooter {
  font-size: 23px;
}
