@import '../../sass/helpers/variables';

.resultsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;

  .user {
    padding: $spacing;
    display: flex;
    border-bottom: 1px solid $lightGrey;

    .userDetailsContainer {
      flex: 1;
      padding: 0 $spacing;
    }
  }
}
