@import '../../sass/helpers/variables';

.chatMessages {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: $spacing;

  .message {
    padding-bottom: 2px;
    list-style: none;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;

    .imageContainer {
      height: 24px;
      width: 24px;
      margin-right: 7px;
    }

    img {
      height: 100%;
      border-radius: 50%;
      vertical-align: bottom;
    }

    .messageContainer {
      display: flex;
      flex-direction: column;
      max-width: 55%;
    }

    .messageBody {
      background-color: #f1f1f0;
      padding: 6px 12px;
      border-radius: 18px;
      font-size: 14px;
    }
  }

  .mine {
    flex-direction: row-reverse;

    .messageContainer {
      align-items: flex-end;
    }

    .messageBody {
      background-color: $primary-blue;
      color: #fff;
    }
  }

  .theirs {
    .messageContainer {
      align-items: flex-start;
    }
  }

  .last {
    margin-bottom: 7px;
  }

  // LoggedINUser Message borders styles
  .message.mine.first {
    .messageBody {
      border-bottom-right-radius: 2px;
    }
  }

  .message.mine:not(.first):not(.last) {
    .messageBody {
      border-bottom-right-radius: 2px;
      border-top-right-radius: 2px;
    }
  }

  .message.mine.last {
    .messageBody {
      border-bottom-right-radius: a8px;
    }
  }

  .message.mine.last:not(.first) {
    .messageBody {
      border-top-right-radius: 2px;
    }
  }

  // Other Users Message borders styles
  .message.theirs.first {
    .messageBody {
      border-bottom-left-radius: 2px;
    }
  }

  .message.theirs:not(.first):not(.last) {
    .messageBody {
      border-bottom-left-radius: 2px;
      border-top-left-radius: 2px;
    }
  }

  .message.theirs.last {
    .messageBody {
      border-bottom-left-radius: a8px;
    }
  }

  .message.theirs.last:not(.first) {
    .messageBody {
      border-top-left-radius: 2px;
    }
  }
}

.senderName {
  color: rgba(0, 0, 0, 0.4);
}
