@import '../../../sass/helpers/variables';

.resultListItem {
  padding: 7px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid $lightGrey;

  &:hover {
    background-color: #f2f2f2;
  }

  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
}

.resultListItem.active {
  background-color: $blueBackground;
}

.resultsDetailsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;

  .heading {
    font-weight: 500;
  }

  .subText {
    color: $greyText;
    font-size: 14px;
  }
}

.resultsImageContainer {
  height: 40px;
  width: 40px;
  position: relative;
  margin-right: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.groupChatImage {
  img {
    height: 65%;
    width: 65%;
    position: absolute;
    bottom: 0;
    margin: 0;
    border: 2px solid #fff;
  }

  img:first-of-type {
    top: 0;
    right: 0;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
