@import '../../sass/helpers/variables';

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;

  .nav-link {
    padding: 10px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #212529;

    &:hover {
      background-color: $buttonHoverBg;
      color: $primary-blue;
      border-radius: 50%;
    }
  }

  .blue {
    color: $primary-blue;
  }
}
