@import '../../sass/helpers/variables';

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;

  .nav-link {
    padding: 10px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #212529;

    &:hover {
      background-color: $buttonHoverBg;
      color: $primary-blue;
      border-radius: 50%;
    }
  }

  .blue {
    color: $primary-blue;
  }
}

#notificationsBadge,
#messagesBadge {
  background-color: $redColor;
  height: 25px;
  width: 25px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #fff;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 450px) {
  #notificationsBadge,
  #messagesBadge {
    top: 0px;
    right: 25px;
  }
}
